html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

.myPic {
  border-radius: 10px;
}

.titleText {
  color: rgb(208, 210, 224);
}

.welcome {
  color: rgb(208, 210, 224);
}

@media screen and (min-width: 1280px) {
  .about-card {
    margin-left: 200px;
  }
}

/* Smallest smartphones */
@media screen and (max-width: 320px) {
}

/* Larger smartphones */
@media screen and (min-width: 481px) and (max-width: 767px) {
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Small desktops */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
}

/* Larger desktops */
@media screen and (min-width: 1280px) {
}
