
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

@media (min-width: 1200px) {
  .titleText {
    color: rgb(208, 210, 224);
  }
}



@media (min-width: 1200px) {
  .img-fluid {
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1200px) {
  .container2 {
  
  }
}

.signature {
  color: rgb(208, 210, 224);
}

.card-text {
  color: rgb(208, 210, 224);
}

.titleText {
  color: rgb(208, 210, 224);
}

@media (min-width: 1200px) {
  .signature {
    display: flex;
    flex-direction: column;
    rotate: 270deg;
    font-size: 60px;
    position: absolute;
    right: -195px;
    bottom: 600px;
    font-family: Lucida Handwriting;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .jobTitle {
    font-size: 60px;
    position: absolute;
    right: 200px;
    bottom: 275px;
    font-family: Lucida Handwriting;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .card-text {
    
  }
}

.myPic {
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .myPic {
    max-width: 400px;
    max-height: 600px;
  }
}

.aboutCard {
  background-color: rgb(63, 61, 78);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  .aboutCard {
    width: 950px;
    
  }
}

@media (min-width: 1200px) {
  .container1 {
    
  }
}

@media (min-width: 1200px) {
  .cardContainer {
    display: flex;
    border: solid 1px white;
  }
}

.welcome {
  color: rgb(208, 210, 224);
}

@media (min-width: 1200px) {
  .welcome {

  }
}